<section class="hero-container">
  <div class="hero-text">
    <h1 class="hero-tagline">We Solve Problems for the Electronic Industry</h1>
    <h2 class="sub-header">
      Failure analysis, electrical testing, process evaluation and testing to many specifications.
    </h2>
    <a href="/contact/" class="call-to-action">Start solving</a>
  </div>

  <picture>
    <source srcset="/img/microscope.webp" type="image/webp" />
    <img
      class="hero-image"
      src="/img/microscope.png"
      alt="microscope"
      loading="lazy"
      width="275"
      height="367" />
  </picture>
</section>