:host {
  display: block;
  padding: 1rem;
  border-radius: 2px;
  border-bottom: 1px solid var(--rgba-primary-4);
}

p {
  max-width: 60ch;
}

@media screen and (min-width: 60ch) {
  :host {
    border: 1px solid var(--rgba-primary-4);
  }
}
