:root {
  --rgba-primary-0: rgb(56, 42, 41); // Main Primary color */
  --rgba-primary-1: rgba(134, 105, 103, 1);
  --rgba-primary-2: rgba(96, 75, 74, 1);
  --rgba-primary-3: hsl(3, 27%, 16%);
  --primary-3-light: hsl(3, 20%, 95%);
  --color-primary: hsl(347, 75%, 33%);
  --color-primary-dark: hsl(347, 75%, 23%);
  --rgba-primary-4: rgba(47, 23, 21, 1);
  --rgba-light-0: rgba(195, 184, 186, 1); // Main Primary color */
  --rgba-light-1: rgba(231, 197, 204, 1);
  --rgba-light-2: rgba(180, 161, 165, 1);
  --rgba-light-3: rgba(162, 136, 142, 1);
  --rgba-light-4: rgba(148, 115, 123, 1);

  --nav-link: #767676;
  --call-to-action: hsl(99, 50%, 34%);
  --call-to-action-hover: rgb(50, 111, 18);

  --dark-header: rgb(84, 87, 90);

  --footer-color: hsl(206, 4%, 34%);
  --footer-color-dark: hsl(220, 2%, 25%);

  --box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}
