@font-face {
  font-display: swap;
  font-family: 'FuturaBT';
  font-weight: 400;
  src: url('/fonts/FuturaBT-Book.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'FuturaBT';
  font-weight: 500;
  src: url('/fonts/FuturaBT-Heavy.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'FuturaBT';
  font-weight: 300;
  src: url('/fonts/FuturaBT-Light.woff2') format('woff2');
}
